@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Nunito+Sans&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
  min-height: 95vh;
  padding: 0 17vw;
}

a:link {
  color: black;
}

a:hover {
  text-decoration: underline;
}

div {
  padding-bottom: 0.7em;
}
